body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 45px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 40px 80px;
  overflow: hidden;
  margin: 20px;
  border: 5px solid black;
}

.rotate-btn-effect {
  position: relative;
}

.rotate-btn-effect:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: top left;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.rotate-btn-effect:hover:before {
  transform: rotate(0deg);
}

.swipe-btn-effect {
  position: relative;
  color: black;
  transition: color 1s ease;
}

.swipe-btn-effect:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #351435;
  height: calc(100%);
  width: 100%;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 1s;
}

.swipe-btn-effect:hover:before {
  transform: translateY(0%);
  color: white;
}

.swipe-btn-effect:hover {
  color: white;
}


.stretch-effect {
  letter-spacing: 2px;
  position: relative;
  transition: 1s;
}

.stretch-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateX(90deg);
  z-index: -1;
}

.stretch-effect:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transition: 1s;
  transform: rotateY(90deg);
  z-index: -1;
}

.stretch-effect:hover:before {
  transform: rotateX(0deg);
}

.stretch-effect:hover:after {
  transform: rotateY(0deg);
}

.stretch-effect:hover {
  color: white;
}

.text-cover {
  letter-spacing: 2px;
  position: relative;
  transition: all 1s ease;
  /* overflow: initial; */
}

.text-cover:before {
  content: "YEAR!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F44336;
  transform: translateY(-100%);
  transition: all 1s ease;
  z-index: 1;
}

.text-cover:hover:before {
  transform: translateY(0%);
}

.glowing-effect {
  letter-spacing: 2px;
  position: relative;
  transition: all 1s ease;
}

.glowing-effect:hover {
  background-color: #F44336;
  color: white;
}

.glowing-effect:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: translateX(-100%) rotate(45deg);
  transition: all 1s ease;
  z-index: 1;
}

.glowing-effect:hover:before {
  transform: translateX(100%) rotate(45deg);
}

.two-layers-effect {
  position: relative;
  /* overflow: initial; */
  background: #000;
  color: transparent;
}

.two-layers-effect:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffa65;
  transition: all 1s ease;
  z-index: 1;
}

.two-layers-effect:after {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffa65;
  transform: translate(-100%, 100%);
  transition: all 1s ease;
  z-index: 1;
}

.two-layers-effect:hover:before {
  transform: translate(100%, -100%);
}

.two-layers-effect:hover:after {
  transform: translate(0, 0);
}

.text-scale-effect {
  position: relative;
  transition: all 0.5s ease;
  /* overflow: initial; */
}

.text-scale-effect:before {
  content: "Hover Me";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  z-index: 1;
  background: #262626;
  color: white;
  transform: scale(5);
  opacity: 0;
}

.text-scale-effect:hover:before {
  transform: scale(1);
  opacity: 1;
}

.text-scale-effect:hover{
  color: transparent;
}